@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 900;
	src: url('../../assets/fonts/heebo-black.woff2') format('woff2'), url('../../assets/fonts/heebo-black.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/fonts/plus-jakarta-sans-regular.woff2') format('woff2'), url('../../assets/fonts/plus-jakarta-sans-regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../../assets/fonts/plus-jakarta-sans-bold.woff2') format('woff2'), url('../../assets/fonts/plus-jakarta-sans-bold.woff') format('woff');
	font-display: swap;
}

html {
	font-family: theme('fontFamily.body');
}